# Book settings
title: Pacific Observatory
author: World Bank
logo: images/logo.png

repository:
    url: https://github.com/worldbank/pacific-observatory
    branch: main

sphinx:
  config:
    html_extra_path: ['images']

html:
    home_page_in_navbar: true
    use_edit_page_button: true
    use_repository_button: true
    use_issues_button: true
    baseurl: https://github.com/worldbank/pacific-observatory

execute:
  execute_notebooks: force
  allow_errors: true
  # exclude_patterns:

latex:
  latex_engine: pdflatex
  use_jupyterbook_latex: true