accessible-pygments 
alabaster 
anyio 
appdirs==1.4.4
appnope 
argon2-cffi 
asttokens 
attrs 
Babel 
backcall 
backports.functools-lru-cache 
beautifulsoup4 
bleach 
bokeh 
Bottleneck 
brotlipy==0.7.0
certifi 
cffi 
charset-normalizer 
click==8.1.3
colorama 
contourpy 
cryptography 
cycler 
Cython 
decorator 
defusedxml 
distro 
docutils 
entrypoints 
executing 
fastjsonschema 
fonttools==4.25.0
idna 
imagesize 
importlib-metadata 
importlib-resources 
ipykernel 
ipython 
ipython-genutils==0.2.0
jedi 
Jinja2 
joblib 
json5 
jsonschema 
jupyter-book==0.15.1
jupyter-cache==0.5.0
jupyter-client 
jupyter-server 
jupyter_core 
jupyterlab 
jupyterlab-pygments 
jupyterlab_server 
kiwisolver 
latexcodec==2.0.1
linkify-it-py==2.0.0
markdown-it-py==2.2.0
MarkupSafe 
matplotlib 
matplotlib-inline 
mdit-py-plugins==0.3.5
mdurl==0.1.2
mistune 
munkres==1.1.4
myst-nb==0.17.1
myst-parser==0.18.1
nbclassic 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
notebook_shim 
numexpr 
numpy 
packaging 
pandas==1.5.3
pandocfilters 
parso 
patsy==0.5.3
pexpect 
pickleshare 
Pillow==9.4.0
pkgutil_resolve_name 
platformdirs 
pmdarima 
pooch 
prometheus-client 
prompt-toolkit 
ptyprocess 
pure-eval 
pybtex==0.24.0
pybtex-docutils==1.0.2
pycparser 
pydata-sphinx-theme==0.13.3
Pygments 
pyOpenSSL 
pyparsing 
PyPDF2 
pyrsistent 
PySocks 
pystata==0.0.1
python-dateutil 
pytz 
PyYAML 
pyzmq 
requests 
scikit-learn 
scipy==1.10.1
seaborn 
Send2Trash 
six 
sniffio 
snowballstemmer 
soupsieve 
Sphinx 
sphinx-book-theme==1.0.1
sphinx-comments==0.0.3
sphinx-copybutton==0.5.1
sphinx-jupyterbook-latex==0.5.2
sphinx-multitoc-numbering==0.1.3
sphinx-thebe==0.2.1
sphinx-togglebutton==0.3.2
sphinx_design==0.3.0
sphinx_external_toc==0.3.1
sphinxcontrib-applehelp 
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml 
SQLAlchemy==1.4.47
stack-data 
stata-setup==0.1.3
statsmodels 
tabula-py 
tabulate==0.9.0
terminado 
threadpoolctl 
tinycss2 
tomli 
tornado 
traitlets 
typing_extensions 
uc-micro-py==1.0.1
urllib3 
wcwidth 
webencodings==0.5.1
websocket-client 
xyzservices 
zipp 
